/*------------------------------------*\
  #VARIABLES
\*------------------------------------*/

:root {
    --bg-color:             #1A1A1D;
    --font-color:           #6b6b6b;
    --secondary-font-color: #ffffff;
    --highlight-color:      #00B3CC;
  }
  
  
  
  
  
  /*------------------------------------*\
  #BOX-SIZING
  \*------------------------------------*/
  
  * {
  box-sizing: border-box;
  }




/*------------------------------------*\
  #MARGINS
\*------------------------------------*/

 {
  padding:       5px;
  margin-top:    .5em;
  margin-bottom: .5em;
}








/*------------------------------------*\
  #HEADINGS
\*------------------------------------*/

h1     { font-size: clamp(18px, 5vw, 50px); }

h2     { font-size: clamp(15px, 4vw, 30px); }

h1, h2 { margin:    min(7vh, 2.75rem) 0 1.05rem; }





/*------------------------------------*\
  #BASE FONT
\*------------------------------------*/

html {
  font-size:   min(3.2vw, 14px);
  font-family: ;
  color:       var();
}








/*------------------------------------*\
  #MAIN CONTENT
\*------------------------------------*/





/*------------------------------------*\
  #FOOTER
\*------------------------------------*/




/*------------------------------------*\
  #MODIFIERS
\*------------------------------------*/

@media (min-width: 768px) {

}