/*------------------------------------*\
  #VARIABLES
\*------------------------------------*/
 :root {
    --font-color:           #0A1522;
    --secondary-font-color: #ffffff;
    --secondary-color:      #00B3CC;
    --star-color:           #fbbc04;
    --main-font:            'Roboto', sans-serif;
    --slab-font:            'Roboto Slab', serif;
    --serif-font:           'Roboto Serif', serif; 
    --font-pair:            'Raleway', sans-serif; 
    --png-light-filter:      invert(52%) sepia(85%) saturate(1989%) hue-rotate(149deg) brightness(94%) contrast(101%);
    --png-dark-filter:       invert(7%) sepia(10%) saturate(3768%) hue-rotate(172deg) brightness(95%) contrast(97%);     
 }
  
  
  
  
  
  /*------------------------------------*\
  #BOX-SIZING
  \*------------------------------------*/
  
  * {
  box-sizing: border-box;
  }





/*------------------------------------*\
  #MARGINS
\*------------------------------------*/

html {
  margin: 0px;
  padding: 0px;  
}





/*------------------------------------*\
  #HEADINGS
\*------------------------------------*/

h1     { font-size: clamp(19px, 5.5vw, 55px); }

h2     { font-size: clamp(16px, 3vw, 22px); }

h3     { font-size: clamp(14px, 2.2vw, 17px);}

h4     { font-size: clamp(12px, 2.1vw, 13px); } 







/*------------------------------------*\
  #FONTS
\*------------------------------------*/

html {
  font-size:   min(3.2vw, 14px);
  font-family: 'Roboto', sans-serif;
  color:       var(--font-color);
}

#menu-services, #menu-portfolio, #menu-price, #menu-order, #menu-contact {
  text-transform: uppercase;
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
  font-size: 1.8rem;
  font-weight: bold;
  letter-spacing: .5px;
  text-align: center;
  font-family: var(--font-pair);
}





/*------------------------------------*\
  #HEADER (NAVBAR+COVER)
\*------------------------------------*/

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  width: 100vw;
  background: url('assets/cover.jpg') no-repeat center;
  background-size: cover;
  height: 520px;
}





/*------------------------------------*\
  #NAVBAR
\*------------------------------------*/

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}

.navbar img {
  width: 12.32rem;
  margin: 1rem 3rem 0rem 3rem;
}

.navbar__links ul {
  display: flex;
  margin: 1rem 0rem 0rem 0rem;
  padding: 0;
}

.navbar__links li {
  list-style: none;
}

.navbar__links li a {
  color: var(--font-color);
  text-decoration: none;
  padding: .8rem;
  font-weight: bold;
  text-transform: uppercase;
  display: block;
  text-align: center;
}

.popup__box {
  display: inline;
}

.navbar__links li a:hover {
  font-weight: 600;
  transform: scale(1.08);
  filter: opacity(50%);
}

/*HAMBURGER BUTTON*/

.navbar__button {
  position: absolute;
  top: 2.4rem;
  right: 2.4rem;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 24px;
  height: 16px;
}

.navbar__button span {
  height: 3px;
  background-color: var(--font-color);
}

.bar1 {
    width: 100%;
    border-radius: 9999px;
  }

.bar2 {
  width: 80%;
  border-radius: 9999px;
}

.bar3 {
  width: 100%;
  border-radius: 9999px;
}

/*HAMBURGER MENU ANIMATION*/

.bar1 {
  transition: all .5s ease;
  transform-origin: center;
}

.bar2 {
  transition: all .5s ease;
}

.bar3 {
  transition: all .5s ease;
  transform-origin: center;
}

.navbar__button.open .bar1 {
  transform: translateY(6.5px) rotate(45deg);
 }

.navbar__button.open .bar2 {
  width: 0%;
  opacity: 0%;
}

.navbar__button.open .bar3 {
  transform: translateY(-6.5px) rotate(-45deg);
}

/***/

@media (max-width: 900px) {

.navbar__button {
  display: flex;
  border-radius: 9px;
}

.navbar__links {
  width: 100%;
  display: none;
  margin-top: -0.5rem;
  animation: openmenu .3s;
  white-space: nowrap;
  overflow: hidden; 
  transform-origin: top center;
}

.navbar {
  flex-direction: column;
  align-items: flex-start;
}

.navbar__links ul {
  flex-direction: column;
  width: 100%;
}

.navbar__links li a {
  padding: .3rem 0rem;
}

.navbar__links.active {
  display: flex;
}

@keyframes openmenu {

  0% {
    transform: scaleY(0)
}
80% {
    transform: scaleY(1.05)
}
100% {
    transform: scaleY(1)
}

}

}

/*------------------------------------*\
  #POPUP ABOUT-ME POPUP IMPRESSZUM
\*------------------------------------*/

.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
}

.overlay:target {
  visibility: visible;
  opacity: 1;
}

.popup__about-me, .popup__impresszum {
  margin: 40px auto;
  padding: 20px;
  background: #ffffff;
  border-radius: 5px;
  width: 70vw;
  position: relative;
}

.popup__about-me h2, .popup__impresszum h2 {
  margin-top: 0;
  text-transform: uppercase;
  text-align: center;
  font-family: var(--font-pair);
  font-weight: bold;
  
}
.popup__about-me .close, .popup__impresszum .close {
  position: absolute;
  top: 20px;
  right: 30px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: var(--font-color);
}
.popup__about-me .close:hover, .popup__impresszum .close:hover {
  color: rgba(10, 21, 34, .8);
  transform: scale(1.1);
}
.popup__about-me .content, .popup__impresszum .content {
  text-align: center;
  line-height: 1.3rem;
}

.popup__about-me p, .popup__impresszum p {
  padding-bottom: 1rem;
}

.popup__button {
  text-decoration: none;
  color: var(--secondary-font-color);
  background-color: var(--font-color);
  padding: .5rem;
  border-radius: 10px;
}

.popup__button:hover {
  background-color: rgba(10, 21, 34, .8);
  padding: .55rem;
}

.profile__name {
  font-family: var(--font-pair);
  font-weight: 800;
}

.profile__tag, .impresszum__tag {
  font-family: var(--font-pair);
  text-transform: uppercase;
}

.popup__impresszum {
  color: var(--font-color);
}

.impresszum__tag {
  padding: 1rem;
}

.impresszum__header--bold {
  font-weight: bold;
}

.profile-pic {
  width: 111px;
}

@media screen and (max-width: 600px){
  .popup__about-me, .popup__impresszum {
    width: 90%;
   }
}




/*------------------------------------*\
  #COVER
\*------------------------------------*/

.cover::before {
  display: block;
  content: "";
  background-color: var(--secondary-color);
  height: 1.8px;
  width: 70%;
  border-radius: 9999px;
}

.cover {
  font-family: var(--serif-font);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.cover__text {
  padding: 4rem 3rem 0rem 3rem;
  text-align: center;
  line-height: 1.32;
}

.cover__text--name {
  text-align: right;
  font-style: italic;
  padding: 1.8rem 0rem 0rem 17.5rem;
}

.cover__text--typewriter {
  font-family: var(--main-font);
  letter-spacing: .032rem;
  font-weight: 600;
  cursor: pointer;
  border-right: 2.32px solid;
  margin-right: .8px;
  animation: typewriter 14s steps(50) normal infinite, blinkTextCursor 1s step-end infinite;
  white-space: nowrap;
  overflow: hidden;
  margin-top: .15rem;
}

@keyframes typewriter {
  0% {
    width: 0%;
  }
  15% {
    width: 100%
  }
  85% {
    width: 100%;
  }
  85.05% {
    width: 0%;
  }
  100% {
    width:0%;
  }
}

@keyframes blinkTextCursor {
  from, to {
  border-color: transparent;
  }
  50% {
  border-color: var(--secondary-color);
  }
}






/*------------------------------------*\
  #MAIN CONTENT
\*------------------------------------*/

main {
  width: 100%;
  margin: 0 auto;
}





/*------------------------------------*\
  #SERVICES & ORDER
\*------------------------------------*/

.services, .order {
  width: 90vw;
  padding-top: 2rem;
  padding-bottom: 2rem;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  text-align: center;
}

.menu-services__item, .menu-order__item {
  display: flex;
  flex-direction: column;
  width: 22vw;
}

.menu-services__icon, .menu-order__icon {
  filter: var(--png-light-filter);
  width: 100px;
  align-self: center;
}

.menu-services__text, .menu-order__text {
  padding-top: .5rem;
  line-height: 1.2rem;
}

.menu-services__text--grey {
  opacity: .6;
  font-size: .9rem;
}

.services h3, .order h3 {
  font-family: var(--font-pair);
  text-transform: uppercase;
  font-weight: bold;
  padding-top: .5rem;
}

.services__text, .price__text {
  width: 90%;
  margin: 0 auto;
  background-color: var(--secondary-color);
  padding: 1rem;
  border-radius: 20px;
  line-height: 1.3rem;
  text-align: center;

}

.graphic-design__icon--hover:hover {
  content: url('assets/icon-graphic-design-hover.png');
}

.gift__icon--hover:hover {
  content: url('assets/icon-gift-hover.png');
}

.promotion__icon--hover:hover {
  content: url('assets/icon-promotion-hover.png');
}

.decoration__icon--hover:hover {
  content: url('assets/icon-decoration-hover.png');
}

.order1__icon--hover:hover {
  content: url('assets/order1-hover.png');
}

.order2__icon--hover:hover {
  content: url('assets/order2-hover.png');
}

.order3__icon--hover:hover {
  content: url('assets/order3-hover.png');
}

.order4__icon--hover:hover {
  content: url('assets/order4-hover.png');
}

@media (max-width: 860px) {

.services, .order {
  flex-direction: column;
  width: 80%;
  gap: 3vh;
  }

.gift__icon, .decoration__icon, .order2__icon, .order4__icon {
  order: 2;
 }

.menu-services__item, .menu-order__item {
  display: flex;
  flex-direction: row;
  width: 85vw;
}

.menu-services__text, .menu-order__text {
  padding: 1rem;
}

.graphic-design__text, .gift__text, .promotion__text, .decoration__text {
 flex-grow: 2;
}
}

@media (max-width: 400px) {

.menu-services__icon, .menu-order__icon {
  width: 53px;
}
}





/*------------------------------------*\
  #PORTFOLIO
\*------------------------------------*/

.portfolio {
  width: 90vw;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.portfolio__container {
  width: 25vw;
  align-items: center;
}

.portfolio__footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: 2vh;
  font-family: var(--main-font);
  font-weight: bold;
  text-transform: uppercase;
}

.portfolio__footer h3 {
  color: var(--font-color);
  width: 40%;
  padding: .6rem;
  text-align: center;
}

.SlideLogo, .SlideCorp, .SlideOther {
  display: none;
  width: 100%;
}

.button {
  filter: var(--png-dark-filter);
  height: 32px;
}

.button__display-left:hover {
  transform: translateX(-1px);
  cursor: pointer;
}

.button__display-right:hover {
  transform: translateX(1px);
  cursor: pointer;
}

@media (max-width: 860px) {
  .portfolio {
    flex-direction: column;
    gap: 2vh;
  }

  .portfolio__container {
    width: 85%;
    margin: 0 auto;
  }
}





/*------------------------------------*\
  #PRICE
\*------------------------------------*/

.price__text--bold {
  font-weight: bold;
}

.price__text--font-pair {
  font-family: var(--font-pair);
  text-transform: uppercase;
}




/*------------------------------------*\
  #CONTACT
\*------------------------------------*/

.contact {
  background-color: var(--secondary-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 1rem;
}

.contact__review--reviews {
  text-decoration: none;
  color: var(--font-color);
}

.contact__review--reviews:hover {
  opacity: .6;
}

.contact__review--stars {
  color: var(--star-color);
}

.contact__review--write {
  padding-top: .65rem;
  font-size: 1rem;
  font-weight: light;
  text-align: center;
}

.contact__review--link {
  font-size: .8rem;
  padding: .2rem .5rem .2rem .5rem;
  text-decoration: none;
  color: var(--font-color);
  font-weight: 500;
}

.contact__review--link:hover {
  color: var(--secondary-color);
  border-radius: 9999px;
  background-color: var(--font-color);
}

.contact__icon {
    padding: 1.2rem;
   }

.contact__icon--fb, .contact__icon--messenger, .contact__icon--mail {
  width: 60px;
  padding-left: 10px;
  padding-right: 10px;
  filter: var(--png-dark-filter);
}

li {
  list-style-type: none;
  display: inline-block;
  color: #1c597b;
 }

 .contact__icon--fb:hover, .contact__icon--messenger:hover, .contact__icon--mail:hover {
  transform: scale(1.2);
  transition: all 0.2s ease-in-out;
}

.contact__phone {
  width: 100%;
  text-align: center;
  font-size: 1.5rem;
  font-weight: 600;
  display: flex;
  justify-content: center;
}

/*PHONE-ANIMATION*/

.contact--increase {
  animation-name: increase;
  animation-duration: 0.9s;
  animation-direction: alternate;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

@keyframes increase {
  0% {transform: scale(1.1);}
  100% {transform: scale(0.9);}
}







/*------------------------------------*\
  #FOOTER
\*------------------------------------*/

footer {
  background-color: var(--font-color);
  color: var(--secondary-font-color);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  padding-bottom: .5rem;
}

.footer__content {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  text-transform: uppercase;
  padding: .5rem;
  margin-top: .5rem;
  width: 80%;
}

.footer__copyright {
  padding: .5rem;
  margin-top: .5rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  width: 95%;
  font-size: 10px;
}

.footer__copyright--left, .footer__up {
  width: calc(50% - 280px);
}

.footer__copyright--date {
  display: flex;
  flex-direction: row;
}

.footer__copyright--center {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 280px;
}


.footer__content a {
  text-decoration: none;
  margin-top: 1rem;
  font-size: clamp(10px, 1.1rem, 14px);
  color: var(--secondary-font-color);
}

.popup__box--hover {
  margin-top: .7rem;
}

.footer__content a:hover, .popup__box--hover:hover {
  color: var(--secondary-color);
  transform: scale(1.08);
}

.footer__up {
  display: flex;
  justify-content: end;
  filter: var(--png-light-filter);
}

#up-button {
  width: 3.5rem;
  padding: .5rem;
}

#up-button:hover {
  transform: translateY(-4px);
}

.footer__logo {
  height: 14px;
}

@media (max-width: 960px) {
  
.footer__content {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

.footer__content li a {
  padding: .4rem;
  }
}

@media (max-width: 480px) {
  .footer__copyright--center {
    flex-direction: column;
  }
}










