/*------------------------------------*\
  #VARIABLES
\*------------------------------------*/

:root {
    --bg-color:             #1A1A1D;
    --font-color:           #6b6b6b;
    --secondary-font-color: #ffffff;
    --highlight-color:      #00B3CC;
  }
  
  
  
  
  
  /*------------------------------------*\
  #BOX-SIZING
  \*------------------------------------*/
  
  * {
  box-sizing: border-box;
  }




  
/*------------------------------------*\
#FONT STYLES
\*------------------------------------*/






/*------------------------------------*\
  #MAIN CONTENT
\*------------------------------------*/





/*------------------------------------*\
  #FOOTER
\*------------------------------------*/

